.verify-wrapper {
    width: 720px;
    margin: 0 auto;
    padding-top: 220px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.verify-content {
    width: 100%;
}

.verify-text {
    font-size: 24px;
    font-weight: bold;
    font-weight: 700;
}

.verify-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #d9d9d9;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    border: 1px;
    cursor: pointer;
}

.resend-link {
    background: none;
    border: none;
    color: #0073cc;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin-top: 40px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.success-message {
    color: #000;
    margin-top: 15px;
    font-size: 20px;
}