body {
    height: 100%;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 370px;
    height: 36px;
    margin: 22px 20px 24px 25px;
}

.header__logo img {
    height: 100%;
}

.search__form {
    width: 563px;
    height: 100%;
}

.search__form-input {
    width: 500px;
    height: 50px;
    margin: 15px 0px;
    padding: 10px auto;
    border-radius: 5px;
    border: none;
    font-size: 24px;
}

.nav__link{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 25px;
    gap: 20px;
}

.nav__link-mypage {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.nav__link-login {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.nav__link-logout-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.nav__link-sell-btn {
    width: 100px;
    height: 50px;
    margin: 15px;
    background: #fff;
    text-align: center;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    padding: 12px 12px;
    border-radius: 4px;
}