.item-detail {
    width: 98%;
    padding-top: 95px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
}

.item-image {
    width: 50%;
}

.item-image img {
    width: 500px;
    height: 500px;
    margin: 36px 45px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    object-fit: contain;
}

.item__info {
    width: 50%;
}

.item__info-inner {
    width: 90%;
}

.item-name {
    font-size: 28px;
    font-weight: bold;
}

.item-brand {
    color: #666;
}

.item-price {
    font-size: 24px;
    margin: 10px 0;
}

.item-icons {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 20px auto;
}

.icon-btn {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    cursor: pointer;
}

.comment__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 6px;
    gap: 5px;
}

.comment-count {
    margin: 0 auto;
}

.buy-btn {
    display: block;
    margin: 20px 0;
    background: #ff5555;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border-radius: 4px;
}

.seller-label {
    color: #ff5555;
}

.info__row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
}

.info__row-subject {
    font-weight: bold;
    margin-right: 20px;
}

.category-tags {
    display: flex;
    gap: 10px;
}

.tag {
    background: #e5e5e5;
    padding: 5px 12px;
    border-radius: 12px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
}

.comment-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-image-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e5e5e5;
}

.comment-user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.comment-text {
    display: flex;
    height: 60px;
    background-color: #e5e5e5;
    align-items: center;
    padding-left: 15px;
}


.seller-badge {
    margin-left: 8px;
    padding: 2px 6px;
    font-size: 12px;
    color: #fff;
    background: #ff5c5c;
    border-radius: 4px;
}

.comment__form-title {
    font-size: 24px;
    font-weight: 700;
}

.comment__form {
    width: 100%;
    height: 120px;
    margin-top: 5px;
}

.comment__error-message {
    color: #ff5555;
}

.comment-btn {
    width: 100%;
    margin-top: 10px;
    background: #ff5555;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.btn-disabled {
    width: 100%;
    margin-top: 10px;
    background: #ff5555;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
}