.login-container {
    max-width: 680px;
    height: 656px;
    margin: 0 auto;
    padding-top: 120px;
    margin-left: 416px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__form-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.login__form-label {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.login__form-input {
    width: 680px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    margin-bottom: 25px;
}

.login__form-error-message {
    color: #ff5555;
}

.login__form-btn {
    margin-top: 25px;
    width: 680px;
    height: 50px;
    background-color: #ff5555;
    color: #fff;
    font-size: 24px;
}

.register-link {
    margin-top: 25px;
    text-align: center;
}

.link {
    font-size: 20px;
    text-decoration: none;
}
