.mypage-container {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 158px;
}

/* プロフィール */
.profile-area {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.profile-left {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #ddd;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-image {
    width: 100%;
    height: 100%;
    background: #ccc;
}

.user-name {
    font-size: 20px;
}

/* 編集ボタン */
.edit-btn {
    padding: 10px 20px;
    border: 1px solid red;
    color: red;
    text-decoration: none;
    border-radius: 5px;
}

/* タブ */
.mypage-tabs {
    width: 100%;
    height: 47px;
    padding-left: 129px;
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 40px;
}

.tab {
    padding-bottom: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #666;
}

.tab.active {
    color: #ff5555;
    font-weight: bold;
}

/* 商品一覧 */
.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.item-card {
    text-align: left;
}

.item-card a {
    text-decoration: none;
    color: #000;
}

.item-image {
    aspect-ratio: 1 / 1;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-name {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
}

.empty-text {
    grid-column: 1 / -1;
    text-align: center;
    color: #666;
}