.register__form {
    max-width: 680px;
    height: 678px;
    margin: 0 auto;
    padding-top: 98px;
    margin-left: 416px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__form-title {
    width: 144px;
    height: 47px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;

}

.register__form-label {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.register__form input {
    width: 680px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    margin-bottom: 15px;
}

.register__form-error-message {
    color: #ff5555;
}

.register__form-btn {
    width: 680px;
    height: 59px;
    background-color: #ff5555;
    color:#fff;
    font-size: 24px;
}

.login-link {
    text-align: center;
}

.link {
    font-size: 20px;
    text-decoration: none;
}